@use "./variables" as *;

@mixin respond($breakpoint) {
  @if $breakpoint == sm-phone {
    @media (max-width: #{$sm - 0.01rem}) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media (min-width: $sm) and (max-width: #{$lg - 0.01rem}) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media (min-width: $lg) {
      @content;
    }
  }
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin title {
  font-family: InterV_Medium;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.11px;
}

@mixin smallTitle {
  font-family: InterV;
  font-weight: 400;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.07px;
}

@mixin categoryTitle {
  font-family: InterV_Bold;
  font-weight: 400;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: -0.02px;
  text-transform: uppercase;
}
