//breakpoints
$lg: 80rem;
$md: 48rem;
$sm: 40rem;

$body-font: "InterVariable";

//background colors
$background-color: #f1f1f1;

//text colors
$text-color-white: #fff;
$text-color-black: #000;
$text-color-red: #bb1e1e;
$text-color-black-lighter: #1d1d1b;
