//breakpoints
$lg: 80rem;
$md: 48rem;
$sm: 40rem;

$body-font: "InterVariable";

// Backgrounds
$bg-surface: #f1f1f1;
$bg-primary: #bb1e1e;
$bg-secondary: #d90000;
$bg-neutral: #f0f0f0;
$bg-inverse: #000000;
$bg-white: #ffffff;
$bg-active: rgba(187, 30, 30, 0.1);
$bg-overlay: rgba(0, 0, 0, 0.4);
$bg-hover: #d5d5d5;

// Text
$text-primary: #000000;
$text-secondary: #666666;
$text-accent: #1e71bb;
$text-inverse: #ffffff;
$text-danger: #bb1e1e;
$text-muted: #8d8d8c;

// Focus / States
$focus-outline: #bc252c;

$gray-light: #f4f5f8;
$gray-skeleton: #dddddd;

// Shadows
$shadow-color: rgba(0, 0%, 0%, 0.1);
$shadow-dark: rgba(0, 0, 0, 0.25);

// Loading & Interactive States
$loading-bg: #f3f3f3;
$loading-border: $bg-secondary;
