@use "./mixins" as *;

main {
  width: 100%;
  margin-bottom: 6rem;

  .main-container {
    display: flex;
    gap: 2.5rem;
    max-width: 1095px;
    width: 100%;
    margin: 0 auto;

    @include respond(tablet) {
      gap: 1rem;
    }

    @include respond(sm-phone) {
      width: unset;
      margin: 0 1.6rem;
    }
  }
}
