@use "./variables" as *;
@use "./mixins" as *;
@use "./utils" as *;

.news-container,
.favorites-container {
  @include flexCenter;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  padding: 0 1rem;

  li {
    max-width: 300px;
  }

  @include respond(desktop) {
    ul {
      justify-content: flex-start;
    }
  }

  @include respond(sm-phone) {
    align-items: center;
    padding: 0;

    ul {
      justify-content: center;

      li {
        max-width: 300px;
        width: fit-content;
      }
    }
  }
}
