@use "./mixins" as *;
@use "./variables" as *;

.hero-wrapper {
  width: 100%;
  @include flexCenter;
  background-image: url("../assets/images/heroBg.png");
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(sm-phone) {
    display: none;
  }
}

.hero {
  @include flexCenter;
  justify-content: space-between;
  color: $text-color-white;
  width: 100%;
  max-width: 1095px;

  @include respond(tablet) {
    padding: 0 1rem;
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 4.6rem;
    width: 100%;
    height: 100%;

    h3 {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      letter-spacing: -0.14px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      letter-spacing: -0.12px;
    }
  }

  .button-container {
    @include flexCenter;
    justify-content: flex-end;
    gap: 1.2rem;
    width: 100%;
    max-width: 25rem;

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
    }

    .logout-container {
      @include flexCenter;

      p {
        font-size: 13px;
      }
    }

    :is(.login, .logout) {
      background: none;
      width: fit-content;
      color: $text-color-white;
      width: fit-content;
      height: auto;
      text-transform: capitalize;
      transition: all 0.3s ease-in-out;

      span {
        display: flex;
      }

      &:hover {
        background: none;
        transform: scale(1.05);
      }
    }

    button {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: center;
      background: $background-color-white;
      border-radius: 8px;
      border: none;
      max-width: 69px;
      height: 40px;
      width: 100%;

      transition: all 0.2s ease-in-out;

      &:hover {
        background: #f0f0f0;
      }
    }
  }
}
