@use "./variables" as *;
@use "./mixins" as *;

.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1rem;

  .mobile-menu {
    ul {
      display: flex;
    }
  }

  @include respond(sm-phone) {
    align-items: center;
    padding: 0;
  }

  .mobile-view {
    display: none;

    @include respond(sm-phone) {
      @include flexCenter;
      flex-direction: column;
      width: 100%;
    }
  }

  .desktop-view {
    @include respond(sm-phone) {
      display: none;
    }
  }
}
