@use "./variables" as *;
@use "./mixins" as *;
@use "./animations" as *;

.top-flex-wrapper {
  display: flex;
  gap: 1rem;
  margin-bottom: 2.2rem;

  .top-news-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    flex: 2;

    li {
      flex: 1 1 calc(50% - 14px);
      max-width: calc(50% - 14px);
    }
  }

  @include respond(sm-phone) {
    flex-direction: column;

    .top-news-cards {
      li {
        flex: 1 1 100%;
        max-width: 100%;
      }
    }
  }
}

.news-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  li {
    flex: 1 1 calc(33.333% - 14px);
    max-width: calc(33.333% - 14px);
  }

  @include respond(sm-phone) {
    li {
      flex: 1 1 100%;
      max-width: 100%;
    }
  }

  &__title {
    margin: 0;
  }

  &__container {
    display: flex;
    gap: 22px;
    flex-wrap: wrap;
  }
}

.news-card {
  background: $background-color-white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: $text-color-black;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  max-width: 321px;
  max-height: 252px;
  padding: 0;
  border: none;

  @media screen and (max-width: 375px) {
    max-width: 25rem;
  }

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 140px;
    object-fit: cover;
  }

  .news-content {
    padding: 1.2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;
    text-align: start;

    .heading {
      position: relative;

      .bookmark-btn {
        background: none;
        border: none;
        position: absolute;
        top: -1.5rem;
        right: 0;
        z-index: 99;
        padding: 0.75rem;

        @include flexCenter;

        transition: transform 0.2s ease, box-shadow 0.2s ease;

        &.clicked {
          animation: pop 0.3s ease;
        }

        svg {
          pointer-events: none;
        }
      }

      .category {
        @include categoryTitle;
        color: $text-color-blue;

        margin: 0;
      }

      h2 {
        @include title;
        margin: 0;

        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .author {
      @include smallTitle;
      color: $text-color-black-lighter;

      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

.news-skeleton {
  @include respond(sm-phone) {
    @include flexCenter;
    align-items: unset;
    width: 100%;
  }

  .news-card.skeleton {
    pointer-events: none;
    animation: pulseSkeleton 1.5s infinite ease-in-out;

    .skeleton-img {
      width: 100%;
      height: 140px;
      background: #e0e0e0;
      border-radius: 0;
    }

    .news-content {
      padding: 1.2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 1rem;

      .skeleton-category,
      .skeleton-title,
      .skeleton-author {
        background: #ddd;
        border-radius: 4px;
      }

      .skeleton-category {
        width: 30%;
        height: 12px;
      }

      .skeleton-title {
        width: 100%;
        height: 18px;
      }

      .skeleton-title.short {
        width: 70%;
        height: 18px;
      }

      .skeleton-author {
        width: 50%;
        height: 12px;
      }
    }
  }
}

.news-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  gap: 1rem;

  .skeleton {
    background-color: #e0e0e0;
    border-radius: 8px;
    animation: pulseNewsDetails 1.5s infinite ease-in-out;
  }

  .skeleton-title {
    width: 60%;
    height: 32px;
    margin-bottom: 1rem;
  }

  .skeleton-image {
    width: 100%;
    height: 400px;
    margin-bottom: 1rem;
  }

  .skeleton-paragraph {
    width: 100%;
    height: 16px;
    margin-bottom: 0.75rem;
  }
}
