@use "./variables" as *;
@use "./mixins" as *;

.search-bar {
  @include flexCenter;
  padding: 3.5rem 1.6rem 2.8rem 1.6rem;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;

  @include respond(tablet) {
    justify-content: center;
    gap: 2rem;
  }

  &--checked {
    max-width: 37.5rem;
  }

  @include respond(sm-phone) {
    gap: 2rem;
    padding-top: 2.4rem;
    padding-inline: 1.6rem;
    justify-content: flex-start;
    align-self: center;
  }

  .search-container {
    @include flexCenter;
    justify-content: space-between;
    background: $bg-white;
    border-radius: 10px;
    padding: 5px;
    max-width: 725px;
    width: 100%;
    height: 40px;

    &__input-icon-container {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 0 15px;

      input {
        border: none;
        background: transparent;
        padding: 0 0.8rem;
        outline: none;
        width: 100%;
        height: inherit;

        &::placeholder {
          color: $text-secondary;
          opacity: 0.5;
          font-weight: 400;
          font-size: 15px;
          line-height: 16px;
          letter-spacing: -0.2px;
        }
      }

      .clear-search {
        @include flexCenter;
        background: none;
        border: none;

        span {
          color: $text-primary;
        }
      }
    }

    .search-btn {
      max-width: 95px;
      color: $text-inverse;
      background: $bg-primary;
    }

    button {
      @include respond(sm-phone) {
        display: none;
      }
    }
  }
}

.logo {
  margin-right: 4.3rem;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;

  h1 {
    font-weight: 900;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0px;
    margin: 0;
  }

  @media (max-width: 300px) {
    font-size: 28px;
  }

  &--checked {
    margin: 4rem;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .black {
    color: $text-primary;
  }

  .red {
    color: $text-danger;
  }
}

.login-container {
  display: none;

  @include respond(sm-phone) {
    display: flex;
    font-size: 14px;
    position: absolute;
    top: 3rem;
    right: 5rem;
    align-items: center;
    text-align: center;
    z-index: 1000;

    &--logged {
      @media (max-width: 350px) {
        max-width: 10rem;
        top: 2.5rem;
        font-size: 13px;
      }
    }

    &--navbar-open {
      position: fixed;
    }
  }

  button {
    border: none;
    background: none;

    span {
      display: flex;
    }
  }
}
