@use "./variables" as *;
@use "./mixins" as *;

.sidebar {
  max-width: 63px;
  width: 100%;
  height: auto;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.1px;

  @include respond(sm-phone) {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;

    li {
      width: 63px;
      height: 63px;
      border-radius: 5px;
      overflow: hidden;
      @include flexCenter;

      a {
        width: 100%;
        height: 100%;
        @include flexCenter;
        flex-direction: column;

        padding: 12px;
        cursor: pointer;
        transition: background 0.3s;
        color: $text-color-black-lighter;
        text-decoration: none;
        border-radius: 5px;
        opacity: 0.5;

        &:hover,
        &:active,
        &.active {
          background: #fff;
          color: $text-color-red;
          opacity: 1;
        }

        .sidebar-icon:hover {
          color: $text-color-red;
          opacity: 1;
        }
      }
    }
  }
}
