@use "./variables" as *;
@use "./mixins" as *;

.sidebar {
  max-width: 63px;
  width: 100%;
  height: fit-content;
  font-size: 1rem;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0.1px;

  @include respond(sm-phone) {
    display: none;
    padding: 0 1rem;
  }

  ul {
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 5px;

    li {
      border-radius: 5px;
      //overflow: hidden;
      @include flexCenter;

      a {
        width: 63px;
        height: 63px;
        @include flexCenter;
        flex-direction: column;
        font-size: 10px;
        cursor: pointer;
        transition: background 0.3s;
        color: $text-color-black-lighter;
        text-decoration: none;
        border-radius: 5px;

        &:hover,
        &:active,
        &.active {
          background: $background-color-white;
          color: $text-color-red;
          opacity: 1;
        }

        .sidebar-icon:hover {
          color: $text-color-red;
          opacity: 1;
        }
      }
    }
  }
}
